.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: rgba(#f09d51, 0.5);
    z-index: 2;
    visibility: hidden;

    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        z-index: 3;
        background: rgb(231, 226, 221);
        padding: 1.5rem;
        transition: all 0.3s linear;
        transform: translateX(100%);

        .cart__close {
            font-size: 3rem;
            cursor: pointer;

            i {
                color: #ff0081;
            }
        }

        h2 {
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.1rem;
            margin-bottom: 2rem;
        }

        .cart__footer {
            margin-top: 2rem;
            letter-spacing: 0.1rem;
            text-align: center;

            h3 {
                text-transform: capitalize;
                margin-bottom: 1rem;
            }

            .banner__btn {
                padding: 1rem 3rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-size: 1rem;
                background: #f09d51;
                color: #000;
                border: 1px solid #f09d51;
                transition: all 0.3s linear;
                cursor: pointer;
            }

            .banner__btn:hover {
                background: transparent;
                color: #f09d51;
            }
        }

    }
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart__wrapper {
        width: 40vw;
        min-width: 450px;
    }
}

/*---------- Cart Item -------------------- */
.cart__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
        width: 75px;
        height: 75px;
    }

    h4 {
        font-size: 0.85rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
    }

    h5 {
        margin: 0.5rem 0;
        letter-spacing: 0.1rem;
    }
}

.item-amount {
    text-align: center;
}

.remove__item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: #f09d51;
    cursor: pointer;
}

//--------------------------------

.shopping__item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: 1px solid #f2efee;
    position: relative;

    &:hover .shopping__delete {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .shopping__count {
        flex: 0 0 7.5rem;
        padding: .4rem .5rem;
        border: 1px solid #f2efee;
        border-radius: 3px;
        margin-right: 2rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &-value {
            color: inherit;
            font-family: inherit;
            font-size: 1rem;
            text-align: center;
            border: none;
            width: 3.7rem;
            border-radius: 3px;
        }
    }

    .shopping__description {
        flex: 1;
        font-size: 1rem;
    }

    .shopping__delete {
        background-image: linear-gradient(to right, transparent 0%, #fff 40%, #fff 100%);
        width: 3.75rem;
        padding-left: 2rem;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;

    }


}

.btn-tiny {
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-tiny svg {
    height: 100%;
    width: 100%;
    fill: #F59A83;
    transition: all .3s;
}

.btn-tiny:focus {
    outline: none;
}

.btn-tiny:hover svg {
    fill: #F48982;
    transform: translateY(-1px);
}

.btn-tiny:active svg {
    fill: #F48982;
    transform: translateY(0);
}

.btn-tiny:not(:last-child) {
    margin-right: .3rem;
}