.loader {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;

    svg {
        height: 5.5rem;
        width: 5.5rem;
        fill: #ff0081;
        transform-origin: 44% 50%;
        animation: rotate 1.5s infinite linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}