 .navbar {
     position: sticky;
     top: 0;
     height: 60px;
     width: 100%;
     display: flex;
     align-items: center;
     background: rgb(231, 226, 221);
     z-index: 1;

     &__center {
         width: 100%;
         max-width: 1170px;
         margin: 0 auto;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 1.5rem;

         .navbar__icon {
             font-size: 1.5rem;
         }

         .cart__btn {
             position: relative;
             cursor: pointer;

             .cart__items {
                 position: absolute;
                 top: -8px;
                 right: -8px;
                 background: #f09d51;
                 padding: 0 5px;
                 border-radius: 30%;
                 color: #fff;
             }
         }
     }
 }