.products__button-left,
.products__button-right {
    width: 8vw;
    display: flex;
    align-content: center;
    margin: 0 1vw;
}

.products__button-left {
    order: 1;
}

.products__button-right {
    order: 3;
}

.btn-inline {
    color: #f59a83;
    font-size: 1.2rem;
    border: none;
    background-color: #b7edf9;
    padding: 0.8rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    transition: all 0.2s;
}

.btn-inline svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    margin: 0 0.2rem;
}

.btn-inline span {
    margin: 0 0.4rem;
}

.btn-inline:hover {
    color: #f48982;
    background-color: #f2efee;
}

.btn-inline:focus {
    outline: none;
}

.results__btn--prev {
    float: left;
    flex-direction: row-reverse;
}

.results__btn--next {
    float: right;
}