.banner__img {
    font-size: 13px;
    min-height: calc(25vh - 60px);
    background: url("../images/hero-bcg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        grid-column-gap: 1.5rem;
        row-gap: 1rem;
        margin: 20px;

        // grid-row-gap: 2rem;
        @include respond(tab-land) {
            //width < 1100px
            padding: 20px 0;
        }

        .product {

            .img__container {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                display: flex;
                justify-content: center;

                &:hover {
                    .bag__btn {
                        transform: translateX(0);
                    }
                }

                &:hover {
                    .product__img {
                        opacity: 0.5;
                    }
                }

                .product__img {
                    display: block;
                    // height: 8rem;
                    transition: $mainTransition;
                    border: 2px solid #fff;

                }

            }

            h3 {
                text-transform: capitalize;
                margin-top: 1rem;
                letter-spacing: $mainSpacing;
                text-align: center;
                color: #fff;

            }
        }
    }
}