.banner__img {
    min-height: calc(40vh - 60px);
    background: url("../images/hero-bcg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner {
        width: 90vw;
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;

        .product {

            .img__container {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                border: 2px solid #fff;

                &:hover {
                    .bag__btn {
                        transform: translateX(0);
                    }
                }

                &:hover {
                    .product__img {
                        opacity: 0.5;
                    }
                }

                .product__img {
                    display: block;
                    width: 100%;
                    min-height: 12rem;
                    transition: $mainTransition;
                }

            }

            h3 {
                text-transform: capitalize;
                margin-top: 1rem;
                letter-spacing: $mainSpacing;
                text-align: center;
                color: #fff;

            }
        }
    }
}