.container {
    max-width: 95vw;
    // min-height: calc(60vh - 60px);
    height: calc(70vh - 60px);
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "list recipe";


    .products {
        display: grid;
        align-content: start;
        width: 100%;
        height: 100%;

        &__list {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2rem;
            // padding: 4rem 0;
            // width: 80vw;
            // margin: 0 auto;
            // max-width: 1200px;
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            // grid-column-gap: 1.5rem;
            // grid-row-gap: 2rem;

            .product {
                font-size: 16px;
                text-decoration: none;
                list-style: none;
                display: grid;
                justify-content: center;



                &__link {
                    text-decoration: none;
                    border: 2px solid transparent;

                    &:focus {
                        border: 2px solid red;
                    }
                }

                &__container {
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;


                    &:hover {
                        .bag__btn {
                            transform: translateX(0);
                        }
                    }

                    &:hover {
                        .product__img {
                            opacity: 0.5;
                        }
                    }

                    .product__img {
                        display: block;
                        height: 5rem;
                        transition: $mainTransition;
                        margin: 0 auto;
                    }

                    // .bag__btn {
                    //     position: absolute;
                    //     top: 70%;
                    //     right: 0;
                    //     background: $primaryColor;
                    //     border: none;
                    //     text-transform: uppercase;
                    //     padding: 0.5rem 0.75rem;
                    //     letter-spacing: $mainSpacing;
                    //     font-weight: bold;
                    //     transition: $mainTransition;
                    //     transform: translateX(101%);
                    //     cursor: pointer;

                    //     &:hover {
                    //         color: $mainWhite;
                    //     }

                    //     .fa__shopping-cart {
                    //         margin-right: 0.5rem;
                    //     }

                    // }
                }

                &__text {
                    list-style: none;
                    text-decoration: none;

                    h4 {
                        margin-top: 0.7rem;
                        letter-spacing: $mainSpacing;
                        color: $primaryColor;
                        text-align: center;

                    }
                }

            }
        }

        &__buttons {
            margin-top: 20px;

            .btn-inline {
                color: #f59a83;
                font-size: 1rem;
                border: none;
                background-color: #b7edf9;
                padding: 0.5rem .7rem;
                cursor: pointer;
                transition: all 0.2s;
                display: flex;
                align-items: center;

                &:hover {
                    color: #f48982;
                    background-color: #f2efee;
                }

                &:focus {
                    outline: none;
                }

                span {
                    margin: 0 0.4rem;
                }

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: currentColor;
                    margin: 0 0.2rem;
                }

            }

            .results__btn--prev {
                float: left;
                flex-direction: row-reverse;
            }

            .results__btn--next {
                float: right;
            }
        }
    }

}